<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">

    <title>Login</title>
</head>
<body style="height: 100vh;">

<div class="topnav">
    <a class="me-3" href="/"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-end">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-end">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-end">Logout</a>
    <a th:if="${user != null}" class="float-end" th:text="${'Hello, ' + user + '!'}"></a>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 40rem;">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="text-center mt-4">
                            <p style="font-size: 1.5em; color: #2C6B96;">
                                Log in ke akun anda
                            </p>
                        </div>
        
                        <div class="row justify-content-center">

                            <div class="col-8">
                                <form name="f" th:action="@{/auth/login}" method="POST">
                                    <label for="username" class="form-label mt-3">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                
                                    <label for="password" class="form-label mt-3">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                
                                    <div>
                                        <button type="submit" class="btn btn-primary mt-3 mb-4" style="width: 100%;">
                                            Log in
                                        </button>
                                    </div>
                
                                    <div th:if="${param.error}" class="alert alert-warning mb-3">
                                        Invalid username or password
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-primary mb-4">
                                        You have been logged out
                                    </div>
                                </form>
                            </div>

                        </div>
        
                    </li>
                </ul>

                <div class="card-footer">
                    <div class="row justify-content-center mt-3">
                        <div class="text-center">
                            <p style="font-size: 1.1em; color: #2C6B96;">
                                Belum punya akun?
                                <a href="/auth/register" class="link-info">Daftar Sekarang</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous">
</script>
</body>
</html>