<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/matakuliah.css">
    <title>Mata Kuliah</title>
</head>
<body>

<div class="topnav">
    <a class="me-3" href="#"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-right">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-right">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-right">Logout</a>
    <a th:if="${user != null}" class="float-right" th:text="${'Hello, ' + user + '!'}"></a>
</div>

<div class="content container">
    <h1 class="text-center"><span th:text="${matkul.nama_matkul}">Nama Mata Kuliah</span></h1>
    <h3>Kode Mata Kuliah : <span th:text="${matkul.kode_matkul}"></span></h3>

    <h4>Asdos :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
        <span th:if="${mendaftar.isAsdos == true}">
            <li>
                <span th:text="${mendaftar.user.username}"></span>
                <a th:href="@{/matkul/dev/drop/{idmendaftar}(idmendaftar=${mendaftar.idmendaftar})}">Drop Asdos</a>
            </li>
        </span>
        </div>
    </ol>
    <h4>Mahasiswa :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
        <span th:if="${mendaftar.isAsdos == false}">
            <li>
                <span th:text="${mendaftar.user.username}"></span>
                <span th:text="${mendaftar.idmendaftar}" hidden></span>
                <a th:href="@{/matkul/dev/set/{idmendaftar}(idmendaftar=${mendaftar.idmendaftar})}">Set Asdos</a>
            </li>
        </span>
        </div>
    </ol>


    <div class="row">
        <div class="col-6">
            <h2><a href="/matkul/dev"><button type="button" class="btn btn-primary">Back</button></a></h2>
        </div>
        <div class="col-6">
            <h2><a th:href="@{/matkul/dev/info/{id}/delete(id=${matkul.ID})}"><button type="button" class="btn btn-danger float-right">Remove</button></a></h2>
        <div>
    </div>

</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body></html>
