<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/matakuliah.css">
    <title>Mata Kuliah</title>
</head>
<body>

<div class="topnav">
    <a class="me-3" href="#"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-right">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-right">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-right">Logout</a>
    <a th:if="${user != null}" class="float-right" th:text="${'Hello, ' + user + '!'}"></a>
</div>

<div class="content container">
    <div class="py-3 text-center">
        <h1>Mata Kuliah</h1>
    </div>
    <div id="matkullist"></div>
    <h2 class="text-center m-3">
        <a href="/matkul/dev/create">
            <button type="button" class="btn btn-primary">Create Matkul</button>
        </a>
    </h2>
    <h2 class="text-center m-3">
        <a href="/matkul">
            <button type="button" class="btn btn-primary">Public Mode</button>
        </a>
    </h2>
</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/matkuldev.js}"></script>

<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>

