<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/matakuliah.css">
    <title>Mata Kuliah</title>
</head>
<body>
<div class="topnav">
    <a class="me-3" href="#"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-right">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-right">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-right">Logout</a>
    <a th:if="${user != null}" class="float-right" th:text="${'Hello, ' + user + '!'}"></a>
</div>


<div class="content container">
    <form action="#" th:action="@{/matkul/dev/create}" method="POST">
        <div class="form-group">
            <h5>Nama Mata Kuliah: <input type="text" class="form-control" th:field="${matkul.nama_matkul}"></h5>
            <h5>Kode Mata Kuliah: <input type="text" class="form-control" th:field="${matkul.kode_matkul}"></h5>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
    </form>


    <h2><a href="/matkul/dev"><button type="button" class="btn btn-primary">Back</button></a></h2>
</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body></html>

