<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Create Broadcast</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="topnav">
    <a class="me-3" href="/"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-end">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-end">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-end">Logout</a>
    <a th:if="${user != null}" class="float-end" th:text="${'Hello, ' + user + '!'}"></a>
</div>
    <div class="content">
        <form th:action = "@{/broadcast/add-broadcast}" th:object="${broadcast}" method = "POST">
            <div class="form-group">
                <label for="namaMataKuliah">Course:</label>
                <input type="text" id="namaMataKuliah" disabled th:value="${namaMataKuliah}">
                <br><br>
                <label for="userInfo">Creator:</label>
                <input type="text" id="userInfo" disabled th:value="${userInfo}">
                <br><br>
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}">
                <br><br>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="10" cols="50" th:field="*{message}"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
        </form>
    </div>
</body>
</html>