<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset = "UTF-8">
        <title>Select Course</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
    <div class="topnav">
        <a class="me-3" href="/"><b>STACO</b></a>
        <a href="/">Home</a>
        <a href="/jadwaldemo">Jadwal Demo</a>
        <a href="/jadwalasis">Jadwal Asis</a>
        <a href="/matkul">Mata Kuliah</a>
        <a href="/broadcast/">Broadcast</a>
        <a th:if="${user == null}" href="/auth/register" class="float-end">Register</a>
        <a th:if="${user == null}" href="/auth/login" class="float-end">Login</a>
        <a th:if="${user != null}" href="/auth/logout" class="float-end">Logout</a>
        <a th:if="${user != null}" class="float-end" th:text="${'Hello, ' + user + '!'}"></a>
    </div>
        <div class="content container">
            <div>
            <form th:action = "@{/broadcast/get-broadcast}" method = "POST">
                <div class="form-group">
                    <label for = "idString">Choose a Course:</label>
                    <select class="form-control" name="idString" id="idString">
                        <option value="" selected="" disabled="">Select Course</option>
                        <div class = "courses" th:each = "mataKuliah:${allMatkul}">
                            <option th:value="${mataKuliah.getID()}" th:text="${mataKuliah.getNama_matkul()}"></option>
                        </div>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                <br><br>
            </form>
            <form th:if="${isAsdos}" th:action = "@{/broadcast/create-broadcast}" method = "POST">
                <button type="submit" class="btn btn-outline-primary btn-block">Create Broadcast</button>
            </form>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2" th:each="broadcast:${allBroadcast}">
                    <div class="card text-center text-dark">
                        <div class="card-body p-3">
                            <h1 class="card-title" th:text="${broadcast.getTitle()}"></h1>
                            <br />
                            <h5 th:text="${broadcast.getMessage()}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script th:src="@{/js/chooseMatkul.js}"></script>
    </body>
</html>