* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #2C6B96;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Style the content */
.content {
  color: #2C6B96;
  padding: 10px;
}
.list-group-item{
  background-color: #D2F1F2;
}
.li {
  color: black;
}
/* Style the footer */
.footer {
  background-color: #B4DCDD;
  color: #1A3365;
  padding: 10px;
}