<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>STACO - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div class="topnav">
    <a class="me-3" href="/"><b>STACO</b></a>
    <a href="/">Home</a>
    <a href="/jadwaldemo">Jadwal Demo</a>
    <a href="/jadwalasis">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-end">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-end">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-end">Logout</a>
    <a th:if="${user != null}" class="float-end" th:text="${'Hello, ' + user + '!'}"></a>
</div>

<div class="container">
    <h1 class="text-center mt-5">STACO</h1>
    <h5 class="text-center">Student-Teaching Assistant Connector</h5>
    <br/>
    <p>
        STACO adalah aplikasi web yang berfungsi untuk menghubungkan antara asdos dan mahasiswa.
        Aplikasi ini memiliki fitur grouping yang didalamnya dapat digunakan untuk melakukan
        penjadwalan demo, penjadwalan asistensi, dan memberikan broadcast kepada mahasiswa
    </p>
</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous">
</script>
</body>
</html>
